@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16b'; }
label[for*='4']:before { content: '\f1a9'; }
label[for*='5']:before { content: '\f1a9'; }
label[for*='6']:before { content: '\f1a9'; }
label[for*='7']:before { content: '\f1a9'; }
label[for*='8']:before { content: '\f1a9'; }
label[for*='9']:before { content: '\f1a9'; }
label[for*='10']:before { content: '\f1a9'; }
label[for*='11']:before { content: '\f1a9'; }
label[for*='12']:before { content: '\f1a9'; }
label[for*='13']:before { content: '\f1a9'; }
label[for*='14']:before { content: '\f1a9'; }
label[for*='15']:before { content: '\f1a9'; }
label[for*='16']:before { content: '\f1a9'; }
label[for*='17']:before { content: '\f1a9'; }
label[for*='18']:before { content: '\f1a9'; }
label[for*='19']:before { content: '\f1a9'; }
label[for*='20']:before { content: '\f1a9'; }
label[for*='21']:before { content: '\f1a9'; }
label[for*='22']:before { content: '\f1a9'; }
label[for*='23']:before { content: '\f1a9'; }
label[for*='24']:before { content: '\f1a9'; }
label[for*='25']:before { content: '\f1a9'; }
label[for*='26']:before { content: '\f1a9'; }
label[for*='27']:before { content: '\f1a9'; }
label[for*='28']:before { content: '\f1a9'; }
label[for*='29']:before { content: '\f1a9'; }
label[for*='30']:before { content: '\f1a9'; }
label[for*='31']:before { content: '\f1a9'; }

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4, 
#tab5:checked ~ #content5, 
#tab6:checked ~ #content6, 
#tab7:checked ~ #content7, 
#tab8:checked ~ #content8, 
#tab9:checked ~ #content9, 
#tab10:checked ~ #content10, 
#tab11:checked ~ #content11, 
#tab12:checked ~ #content12, 
#tab13:checked ~ #content13, 
#tab14:checked ~ #content14, 
#tab15:checked ~ #content15, 
#tab16:checked ~ #content16, 
#tab17:checked ~ #content17, 
#tab18:checked ~ #content18, 
#tab19:checked ~ #content19, 
#tab20:checked ~ #content20, 
#tab21:checked ~ #content21, 
#tab22:checked ~ #content22, 
#tab23:checked ~ #content23, 
#tab24:checked ~ #content24, 
#tab25:checked ~ #content25, 
#tab26:checked ~ #content26, 
#tab27:checked ~ #content27, 
#tab28:checked ~ #content28, 
#tab29:checked ~ #content29, 
#tab30:checked ~ #content30, 
#tab31:checked ~ #content31 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
